/*Boiler Plate*/
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #111;
}

/* h1{
    color: royalblue;
    background-color: black;
    font-size: 100px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 800;
    text-align: center;
} */
/* div{
    height: 300px;
    width: 300px;
    background-color: brown;
} */
/* h1{
    color: white;
} */
/* #Akarsh{
    background-color: aqua;
} */
 /* .a{
    background-color: red;
 } */
/* 
 #box{
    height: 200px;
    width: 200px;
    background-color:crimson;
    margin-left: 100px;
    margin-top: 50px;
    padding-left:20px ;
 }

 #parent{
    height: 800px;
    width: 800px;
    background-color: crimson;
 }

 #child{
    height: 50%;
    width: 50%;
    background-color: blue;
 }

 button{
    margin: 40px;
    font-size: 20px;
    padding: 10px 20px;
    color: white;
    background-color: lightblue;
    border: 2px solid red;
    border-radius: 5px;
 }

 button:hover{
    background-color: red;
 } */

 #box1{
    height: 300px;
    width: 300px;
    background-color: green;
    border: 2px solid white;
    
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    z-index: 9;
 }
 #box2{
    height: 300px;
    width: 300px;
    background-color: red;
    border: 2px solid white;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
 }
 #box3{
    height: 300px;
    width: 300px;
    background-color: blue;
    border: 2px solid white;

 }